api.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="id" type="xs:positiveInteger"/>
<xs:element name="type" type="xs:string"/>
<xs:element name="deliciousness" type="xs:positiveInteger"/>

<xs:element name="pork">
<xs:complexType>
<xs:sequence>
	<xs:element ref="id"/>
	<xs:element ref="type"/>
	<xs:element ref="deliciousness"/>
</xs:sequence>
</xs:complexType>
</xs:element>

<xs:element name="hungerapi">
<xs:complexType>
<xs:sequence>
	<xs:element ref="pork" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>
